* {
    margin: 0;
    box-sizing: border-box;
}

/* Preclasses Section */

:root {
    --primary-color: #ad0716;
    --primary-color-rgb: 173, 7, 22;
    --secondary-color: #fcb000;
    --secondary-color-rgb: 252, 176, 0;
    --bg-color: #f7f1e8;
    --bg-color-rgb: 247, 241, 232;
    --white: #fff;
    --white-rgb: 255, 255, 255;
    --black: #000;
    --black-rgb: 0, 0, 0;
    --text-primary: 'Poppins';
    --text-secondary: 'Norican';
    --text-tranary: 'Quicksand';
    --fw: 400;
    --fs: 16px;
    --lh: 1.5;
    --gw: 15px;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--black);
    font-family: var(--text-primary);
    background-color: var(--bg-color);
    font-size: var(--fs);
    font-weight: var(--fw);
    line-height: var(--lh);

}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gw);
    padding-right: var(--gw);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gw));
    margin-right: calc(-1 * var(--gw));
}

img {
    display: block;
    width: 100%;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

a {
    color: var(--white);
    text-decoration: none;
}

h4 {
    font-family: var(--text-secondary);
    color: var(--secondary-color);
    font-size: 24px;
}

h2{
    font-size: 50px;
    line-height: 60px;
}

.col-1 {
    width: 8.3333%;
}

.col-2 {
    width: 16.6666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333%;
}

.col-5 {
    width: 41.6666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333%;
}

.col-8 {
    width: 66.6666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333%;
}

.col-11 {
    width: 91.6666%;
}

.col-10 {
    width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding-left: var(--gw);
    padding-right: var(--gw);
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-end {
    justify-content: flex-end;
}

.items-start {
    align-items: flex-start;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.d-flex {
    display: flex;
}

.justify-items-center {
    justify-items: center;
}

.btn {
    text-transform: uppercase;
    padding: 15px 40px;
    border-radius: 27px;
    font-weight: 600;
}

.ml-50{
    margin-left: -50px;
}

/* Home */
.header {
    background-image: url('../images/slider/slider.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header Section */
header {
    padding: 0 100px;
    border-bottom: 1px solid var(--white);
    position: absolute;
    z-index: 99;
    top: 0%;
}

nav {
    font-size: 14px;
    font-weight: 600;
}

nav>ul>li {
    padding: 30px 0;
}

.dropdown {
    position: relative;
}

.dropdown>a {
    padding: 14px 0px;
    display: block;
}

.dropdown-content {
    position: absolute;
    background-color: var(--white);
    border-top: 4px solid var(--primary-color);
    width: 160px;
    border-radius: 0 0 4px 4px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    top: 110px;
    left: 3px;
    transition: all 0.2s linear;
}

.dropdown-content>li>a {
    padding: 10px 10px 10px 15px;
    display: block;
    color: var(--black);
    transition: all .2s linear;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
}

.logo {
    width: 50%;
    justify-items: center;
}

.dropdown-content a:hover {
    color: var(--primary-color);
}

.delivery-img {
    width: 10%;
    margin-right: 10px;
}

.contact-text {
    display: flex;
    flex-direction: column;
    color: var(--white);
    justify-content: center;
    font-size: var(--fs);
}

.contact-text-2 {
    font-size: 18px;
}

.search,
.cart {
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 50%;
    padding: 11px 15px;
    font-size: 15px;
    margin-left: 20px;
    text-align: center;
    transition: all 0.5s;
}

.cart {
    position: relative;
    padding: 15px;
}

.search:hover,
.cart:hover {
    background-color: var(--white);
}

.search:hover,
.cart:hover {
    color: var(--black);
}

.pipe {
    border: 1px solid var(--white);
    height: 25px;
    opacity: 0.25;
    margin-left: 15px;
}

.cart-number {
    position: absolute;
    top: 21px;
    background-color: var(--secondary-color);
    color: var(--black);
    border-radius: 50%;
    padding: 0 5px;
    right: 152px;
    font-size: 12px;
}

/* Banner Section */

.banner {
    position: relative;
    background-image: url('../images/slider/slider.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    padding: 280px 120px;
}

.banner-text-sm {
    color: var(--secondary-color);
    font-size: 55px;
    text-shadow: 0 7px 5px var(--black);
    display: flex;
    animation: left 0.5s linear;
}

.dot-img-banner {
    width: 45px;
    margin: 20px 0 0 20px;
}

.banner-text-lg {
    color: var(--white);
    font-size: 77px;
    text-transform: uppercase;
    line-height: 65px;
    letter-spacing: 8px;
    font-weight: 700;
    animation: left 1s linear 0.2s;
}

.banner-text-lg-1 {
    color: transparent;
    -webkit-text-stroke: 2px var(--white);
    font-size: 125px;
    text-transform: uppercase;
    line-height: 130px;
    font-weight: 700;
    animation: left 1s linear 0.2s;
}

.btn-menu-banner {
    position: relative;
    top: 50px;
    animation: left 2s .5s linear;
}

.btn-banner {
    background-color: var(--secondary-color);
    color: var(--white);
    margin-right: 20px;
    transition: all 0.5s;
}

.btn-banner:hover {
    background-color: var(--white);
    color: var(--black);
}

.play-btn {
    background-color: var(--white);
    padding: 20px 22px;
    color: var(--black);
    border-radius: 50%;
    margin-right: 20px;
    animation: left 2s .5s linear;
}

.btn-menu-banner span {
    color: var(--white);
    animation: left 2s .5s linear;
}

@keyframes left {
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0);
    }
}

.previous {
    position: absolute;
    top: 50%;
    left: 4%;
    background-color: var(--white);
    padding: 10px 16px;
    border-radius: 50%;
}

.next {
    position: absolute;
    top: 50%;
    right: 4%;
    background-color: var(--white);
    padding: 10px 16px;
    border-radius: 50%;
}

/* Card Section */

.card {
    margin: 60px;
}

.card-1,
.card-2,
.card-3 {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 20px;
    top: 0;
    left: 0;
    height: 300px;
    overflow: hidden;
}

.card-1 {
    background-image: url('/assets/images/card-section-1/burger-box-bg-1.jpeg');
}

.card-overlay-img-1 {
    position: absolute;
    content: url('/assets/images/card-section-1/burger-banner-01.png');
    top: 0;
    left: 0;
    transform: scale(1);
    width: 100%;
    transition: all 1s ease;
}

.card-1:hover .card-overlay-img-1 {
    transform: scale(0);
}

.card-1::after {
    position: absolute;
    content: url('/assets/images/card-section-1/burger1.png');
    bottom: 12px;
    right: -20px;
}

.card-2 {
    background-image: url('/assets/images/card-section-1/burger-box-bg-2.jpeg');
}

.card-overlay-img-2 {
    position: absolute;
    content: url('/assets/images/card-section-1/burger-banner-02.png');
    top: 0;
    left: 0;
    transform: scale(1);
    width: 100%;
    transition: all 1s ease;
}

.card-2:hover .card-overlay-img-2 {
    transform: scale(0);
}

.card-2::after {
    position: absolute;
    content: url('/assets/images/card-section-1/burger2.png');
    bottom: 12px;
    right: -20px;
}

.card-3 {
    background-image: url('/assets/images/card-section-1/burger-box-bg-3.jpeg');
}

.card-overlay-img-3 {
    position: absolute;
    content: url('/assets/images/card-section-1/burger-banner-03.png');
    top: 0;
    left: 0;
    transform: scale(1);
    width: 100%;
    transition: all 1s ease;
}

.card-3:hover .card-overlay-img-3 {
    transform: scale(0);
}

.card-3::after {
    position: absolute;
    content: url('/assets/images/card-section-1/burger1.png');
    bottom: 12px;
    right: -20px;
}

.card-info-1,
.card-info-2,
.card-info-3 {
    padding-top: 40px;
    padding-left: 20px;
    position: absolute;
    z-index: 99;
    color: var(--white);
}

.card-info-1 h4,
.card-info-2 h4,
.card-info-3 h4 {
    font-size: 25px;
    font-weight: normal;
}

.card-info-2 h4 {
    color: var(--black);
}

.card-info-3 h4 {
    color: var(--primary-color);
}

.card-info-1 h2,
.card-info-2 h2,
.card-info-3 h2 {
    line-height: 50px;
    margin-bottom: 30px;
}

.card-info-1 .btn,
.card-info-2 .btn,
.card-info-3 .btn {
    border: 1px solid var(--white);
    padding: 10px 20px;
    transition: all 0.5s;
}

.card-info-1 .btn:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.card-info-2 .btn:hover {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--black);
}

.card-info-3 .btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Discover Section */

.discover::before {
    position: absolute;
    content: url('assets/images/burger-sec-1/pattern-shap-02.png');
    top: 0;
    left: 0;
}

.discover-dot-img {
    width: 12%;
}

.dot-img-3 {
    width: 75%;
    margin-left: 12px;
}

.discover-bg-circle {
    background-image: url(/assets/images/burger-sec-1/circle-ellipse-4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 650px;
}

.discover-bg-circle-2 {
    position: relative;
    background-image: url(/assets/images/burger-sec-1/circle-ellipse.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 570px;
    top: 40px;
    left: 4px;
}

.discover-bg-circle-2 img {
    width: 85%;
    position: absolute;
    top: 3%;
    left: 48px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 95px 60px 60px 10px;
}

.discover-text {
    padding: 125px 70px;
}

.discover-text h2 {
    font-size: 55px;
}

.discover-para {
    margin-top: 20px;
    color: #757171;
}

.para-grp {
    margin-top: 20px;
}

.para-grp p {
    padding-top: 15px;

}

.para-grp p i {
    color: var(--primary-color);
    font-size: 12px;
    margin: 0 6px 0 12px;
}

.discover-circle {
    position: relative;
}

.burger-circle {
    position: absolute;
    top: 50px;
    left: 115px;
    border-radius: 50%;
    border: 16px solid var(--secondary-color);
    padding: 12px;
}

.burger-circle img {
    width: 70px;
    height: 70px;
}

.line {
    border-bottom: 1px solid var(--white);
    opacity: 0.2;
    border-color: #757171;
    padding-top: 50px;
}

.discover-btn .btn {
    text-transform: uppercase;
    background-color: var(--primary-color);
    border-radius: 30px;
    padding: 15px 40px;
    transition: all 0.5s;
}

.discover-btn .btn:hover {
    background-color: #383737;
}

.discover-contact {
    margin-top: -7px;
    transition: all 0.5s;
    cursor: pointer;
}

.discover-contact:hover {
    transform: translateY(-15px);
}

.phone-icon {
    align-self: center;
    font-size: 25px;
    color: var(--primary-color);
}

.para-grp-2 {
    margin-left: 20px;
}

.discover-base {
    margin-top: 50px;
}

.discover-para-1 {
    font-size: 13.5px;
    color: #757171;
    font-weight: 600;
}

.discover-para-2 {
    color: var(--primary-color);
    font-weight: 600;
}

/* Pizza Section */

.pizza {
    background-color: var(--primary-color);
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
}

.pizza-overlay {
    background-image: url('../images/pizza-section/bg-pattern.png');
}

.pizza-top-img {
    position: relative;
    top: 25px;
}

.pizza-top-img::before {
    content: url('../images/pizza-section/vector-img-01.png');
    position: absolute;
    left: 30%;
}

.pizza-top-img::after {
    content: url(../images/pizza-section/vector-img-07.png);
    position: absolute;
    right: 0;
    top: 35px;
}

.pizza-vector-1 {
    left: 30%;
}

.pizza-vector-2 {
    position: relative;
    right: 30%;
}

.pizza-head {
    padding-top: 100px;
    font-size: 25px;
    color: var(--secondary-color);
}

.pizza-heading {
    font-size: 50px;
    color: var(--white);
}

.pizza-cards {
    margin-top: 40px;
    margin-left: 120px;
    margin-bottom: 50px;
}

.pizza-card-content {
    background-color: var(--white);
    border-radius: 20px;
    text-align: center;
    padding-bottom: 35px;
}

.pizza-card-content img {
    width: 250px;
    margin-left: 40px;
}

.pizza-card-content h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.price {
    margin-bottom: 30px;
    color: #757171;
}

.pizza-card-content .btn {
    background-color: var(--secondary-color);
    color: var(--black);
    transition: all 0.5s;
}

.pizza-card-content .btn:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.pizza-slider-circle {
    text-align: center;
    color: var(--white);
    font-size: 8px;
}

.pizza-slider-circle span {
    margin-right: 8px;
}

.pizza-slider-circle span:first-child {
    border: 2px solid var(--white);
    padding: 3px 3px 3px 5px;
    border-radius: 50%;
}

.pizza-bottom-img {
    position: relative;
}

.pizza-bottom-img::before {
    position: absolute;
    content: url('../images/pizza-section/vector-img-02.png');
    bottom: -60px;
    left: 0;
}

.pizza-bottom-img::after {
    position: absolute;
    content: url('../images/pizza-section/vector-img-03.png');
    bottom: -30px;
    right: 20px;
}

/* Tesitimonial section */

.testimonial {
    padding: 160px;
}

.testimonial-left {
    position: relative;
    right: 135px;
}

.testimonial-img {
    position: relative;
    cursor: grab;
}

.testimonial-img::before {
    content: url('../images/testimonial/circle.png');
    position: absolute;
    top: 0;
    left: 0;
}

.testimonial-img img {
    position: absolute;
    border-radius: 50%;
    width: 96%;
    top: 55px;
    left: 56px;
}

.testimonial-circle-overlay {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 255px;
    left: 75%;
    padding: 0 30px;
    cursor: grab;
}

.testimonial-circle-overlay .food-bowl {
    font-size: 80px;
    color: rgba(var(--primary-color-rgb), 0.97);
    padding-top: 40px;
}
.testimonial-circle-overlay p {
    padding-bottom: 55px;
}

.testimonial-right{
    position: relative;
    left: 70px;
    top: 80px;
}

.testimonial-para{
    margin-top: 20px;
    color: #757171;
    font-size: 16px;
}

.testimonial-right ul{
    margin-top: 70px;
    font-size: 24px;
}

.testimonial-right ul li{
    margin-bottom: 25px;
}

.testimonial-right ul li a{
    color: var(--black);
    font-weight: 600;
    transition: all 0.5s ease;
    position: relative;
}

.testimonial-right ul li a::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--primary-color);
    transition: all 0.8s ease ;
}

.testimonial-right ul li a:hover{
    color: var(--primary-color);
}

.testimonial-right ul li a:hover:after{
    width: 100%;
}
.text-sm{
    font-size: 13px;
    vertical-align: super;
    margin-right: 10px;
}

.testimonial-angle-right{
    margin-left: 20px;
    transition: all 0.5s ease;
}

.testimonial-right ul li a:hover .testimonial-angle-right{
    background-color: var(--primary-color);
    color: var(--white);
    padding: 0px 10px;
    border-radius: 50%;
}

/* Reviews Section */

.reviews{
    position: relative;
    background-color: var(--primary-color);
    margin-top: 150px;
    padding: 100px 50px;
    overflow: hidden;
}

.reviews::after{
    content: url('../images/reviews/waves-bg.png');
    position: absolute;
    top: 0;
    left: 0;
}

.reviews .container{
    padding-left: 15px;
    padding-right: 15px;
}

.reviews img{
    width: 84px;
    margin-left: -15px;
}

.reviews h2{
    color: var(--white);
    font-weight: 600;
    font-size: 60px;
    margin-bottom: -15px;
}

.reviews h2 span{
    vertical-align: super;
    font-size: 45px;
}

.reviews p{
    color: var(--white);
    font-size: 23px;
    font-weight: 600;
}

/* Special Offer Section */

.special-offer{
    background-image: url('../images/special-offer/burger-bg-img-01.jpg');
    padding: 150px 70px;
}

.special-offer h2{
    margin-top: 10px;
    color: var(--white);
}

.special-offer-para{
    color: var(--white);
    font-size: 18px;
    margin-top: 30px;
}